.carousel-item {
    height: auto;
}

.carousel-item img {
    filter: brightness(50%);
}

.logo {
    width: 4rem;
}

.logo2 {
    width: 12%;
}

@media (min-width: 576px) {
    .carousel-item {
        height: 400px;
    }
}
