@import url("http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    --header-bg: hsla(87, 21%, 92%);
    --body-bg: hsl(70, 14%, 91%);
    --footer-bg: hsl(77, 93%, 11%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg);
}

nav,
main > :not(div:first-child) {
    padding: 0 .5rem;
}

.nav-link {
    color: #000 !important;
    font-weight: 500;
}

.nav-link:hover {
    color: rgb(107, 99, 22) !important;
}

.active {
    color: rgb(107, 99, 22) !important;
}

.heading-tag {
    font-weight: 700;
    font-size: 2rem;
}

.middle-container {
    text-align: center;
}

.heading2 {
    font-weight: normal;
    font-size: 2.5rem;
}

.lorem-imgs1, .lorem-imgs2, .lorem-imgs3 {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.skill-row {
    padding: 1rem;
    text-align: left;
}

main {
    flex-grow: 1;
    padding-bottom: 1rem;
}

main h1:first-of-type,
main h2:first-of-type,
main h3:first-of-type {
    margin-top: 1rem;
}

.navbar {
    background-color: var(--header-bg) !important;
}

footer {
    background-color: var(--footer-bg);
    padding: 1.5em 0;
    text-align: center;
    color: #fff;
}

.doc-container {
    display: none;
}

@media (min-width: 576px) {
    nav,
    main > :not(div:first-child) {
        padding: 0 5rem;
    }

    .middle-container {
        padding-top: 50px;
    }

    .into {
        width: 30%;
        margin: auto;
    }

    .skill-row {
        width: 50%;
        margin: 100px auto;
        text-align: left;
    }

    .lorem-imgs1 {
        width: 25%;
        float: right;
        margin-left: 30px;
    }

    .lorem-imgs2 {
        width: 25%;
        float: left;
        margin-right: 30px;
    }

    .lorem-imgs3 {
        width: 25%;
        float: left;
        margin-right: 30px;
    }

    .link-container {
        display: none;
    }

    .doc-container {
        display: flex;
        justify-content: center;
    }

    .document {
        width: 70%;
        height: 600px;
    }
}
