.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem 0;
    gap: .5rem;
}

.galeria-img {
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: .15s;
}

.galeria-img:hover {
    transform: scale3d(1.05, 1.05, 1)
}

.modal-content img {
    width: 100%;
    max-height: 90vh;
}

@media (min-width: 576px) {
    .galeria {
        gap: 1.5rem;
    }

    .galeria-img {
        width: 350px;
    }
}
