.servicio-grid {
    display: flex;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap-reverse;
}

.servicio-img {
    display: flex;
    justify-content: center;
}

.servicio-img {
    width: 100%;
}

.servicio-img img {
    width: 100%;
    border-radius: 15px;
}

@media (min-width: 576px) {
    .servicio-grid {
        padding: 5rem;
        flex-wrap: nowrap;
    }
}
