{% extends "base.html" %}
{% block body %}

<h2>Confirmación de reserva</h2>
<div class="card-container">
    <div class="card text-center">
        <h5 class="card-header">{{ data.servicio }}</h5>
        <div class="card-body">
            <h5 class="card-title">{{ data.nombre }} {{ data.apellidos }}</h5>
            <p class="card-text">{{ data.correo }}</p>
            <p class="card-text"><pre>Adultos: {{ data.cantAdultos }}    Niños: {{ data.cantNinios }}</pre></p>
            <h5 class="card-title">{{ data.total }}</h5>
            <a href="/servicios" class="btn btn-success">Ver más servicios</a>
        </div>
        <div class="card-footer text-muted">
            {{ data.hora }} - {{ data.fecha }}
        </div>
    </div>
</div>

{% endblock %}
