{% extends "base.html" %} {% block body %}

<h1>Página de reservas</h1>
<form action="{{ url_for('confirmacion') }}" method="post">
    <div class="mb-3">
        <label for="servicio" class="form-label">Servicio</label>
        <select class="form-select" id="servicio" name="servicio" required>
            <option selected disabled value="">Seleccione un servicio</option>
            <option value="Pase de día">Pase de día</option>
            <option value="Pase de noche">Pase de noche</option>
            <option value="Pase de día completo">Pase de día completo</option>
            <option value="Solo piscinas">Solo piscinas</option>
        </select>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" name="apellidos">
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label for="correo" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="correo" name="correo">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="fecha" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="fecha" name="fecha">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="hora" class="form-label">Hora</label>
                <input type="time" class="form-control" id="hora" name="hora">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="cantAdultos" class="form-label">Adultos</label>
                <input type="number" class="form-control" id="cantAdultos" name="cantAdultos" min="1">
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="cantNinios" class="form-label">Niños</label>
                <input type="number" class="form-control" id="cantNinios" name="cantNinios" min="0">
            </div>
        </div>
    </div>
    <div class="col">
        <div class="mb-3">
            <label class="form-label total-label">Total a pagar:</label>
            <input class="form-label total" id="total" name="total" value="$0" readonly>
        </div>
    </div>
    <div class="form-btns">
        <button type="submit" class="btn btn-dark">Confirmar reservación</button>
        <button type="reset" class="btn btn-outline-dark">Limpiar campos</button>
    </div>
</form>

{% endblock %}
