{% extends "base.html" %} {% block body %}
<div class="container">
    <div class="content">
        <div class="left-slide">
            <div style="background: #b99f8a;">
                <h1>Lorem Ipsum</h1>
                <p>texto de relleno</p>
                <button type="submit" class="dropdown-item submitButton read-more-btn" title="Ver información">Ver Más ...</button>
            </div>
            <div style="background: #354f32;">
                <h1>Lorem Ipsum</h1>
                <p>texto de relleno</p>
                <button type="submit" class="dropdown-item submitButton read-more-btn" title="Ver información">Ver Más ...</button>
            </div>
            <div style="background: #657e85;">
                <h1>Lorem Ipsum</h1>
                <p>texto de relleno</p>
                <button type="submit" class="dropdown-item submitButton read-more-btn" title="Ver información">Ver Más ...</button>

            </div>
            <div style="background: #2b2e32;">
                <h1>Lorem Ipsum</h1>
                <p>texto de relleno</p>
                <button type="submit" class="dropdown-item submitButton read-more-btn" title="Ver información">Ver Más ...</button>
            </div>
        </div>
        <div class="right-slide">
            <div style="background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.sentosa.com.sg%2F-%2Fmedia%2Fsentosa%2Ffeatures%2Fgallery%2Fplaces-to-stay%2Fvillage-hotel%2Fvhsgallery2.jpg%3Frevision%3D7818d99a-f009-4b2c-a53c-4c497fe22742&f=1&nofb=1');"></div>
            <div style="background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.sentosa.com.sg%2F-%2Fmedia%2Fsentosa%2Ffeatures%2Fgallery%2Fplaces-to-stay%2Fvillage-hotel%2Fvhsgallery2.jpg%3Frevision%3D7818d99a-f009-4b2c-a53c-4c497fe22742&f=1&nofb=1');"></div>
            <div style="background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.sentosa.com.sg%2F-%2Fmedia%2Fsentosa%2Ffeatures%2Fgallery%2Fplaces-to-stay%2Fvillage-hotel%2Fvhsgallery2.jpg%3Frevision%3D7818d99a-f009-4b2c-a53c-4c497fe22742&f=1&nofb=1');"></div>
            <div style="background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.sentosa.com.sg%2F-%2Fmedia%2Fsentosa%2Ffeatures%2Fgallery%2Fplaces-to-stay%2Fvillage-hotel%2Fvhsgallery2.jpg%3Frevision%3D7818d99a-f009-4b2c-a53c-4c497fe22742&f=1&nofb=1');"></div>
        </div>
        <div class="action-buttons">
            <button class="down-button btn btn-outline-secondary btn-lg but">
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </button>
            <button class="up-button btn btn-outline-secondary btn-lg but">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </button>
        </div>
    </div>
</div>

{% endblock %}